{% extends 'base.html' %}

{% block content %}
<section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="text-center pt-3 display-4">{{ job.description }}</h1>
            <p><img src="{{ job.image.url }}" class="img-fluid" alt="{{ job.title }}"></p>
            <p>{{ job.full_description|safe }}</p>
            <p class="lead text-muted">{{ job.created_at|date:"d E Y" }}</p>
            <a href="{% url 'jobs' %}" class="btn btn-light" role="button">Вернуться в блог</a>

        </div>
    </div>
</section>
{% endblock %}
