# режим отладки
DEBUG=True
# секретный ключ Django (можно сгенерировать, например, на https://djecrety.ir)
SECRET_KEY=3pz#28+)(8uhe#q+(_2kb80jo+o$s8=bx$*7s9=&&4x&rvp=m+
# список хостов/доменов, для которых может работать сайт
ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1

# реквизиты подключения к СУБД PostgreSQL
# наименование БД
POSTGRES_DB=portfolio
# имя пользователя
POSTGRES_USER=portfolio_user
# пароль
POSTGRES_PASSWORD=secret

# строка подключения к БД
DATABASE_URL=postgres://portfolio_user:secret@db/portfolio
